body {
    color: black;
    text-align: center;
}

section {
    font-size: 1em;
    text-wrap: balance
    
}

section img {
    width: 200px;
    height: 200px;
    filter: drop-shadow(10px 10px 100px white);
}